*{
	margin:0;
	padding:0;
	box-sizing:border-box;   
}
*:focus {
    outline: 0 !important;
}
html {
  scroll-behavior: smooth;

}

{
	color:white;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color:black;
    color:white; 
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.right_nav{
float: right;
}
ul.left{
	display: flex;
	list-style-type: none;
}
ul.left li{
	padding-left:10px; 
}
li.name{
	padding-top:3px;
}
li.name a{
	color:white;
	font-weight: bold;
	font-size:20px;
	text-decoration: none; 

}
ul.right{
	display:flex;
	float: right;
	margin-right:2rem; 
	list-style-type: none; 
}
ul.right li a:hover{
	color:yellow;
	display: block;


}
ul.right li{
	padding-left:1rem;
	padding-top:2px; 

}
ul.right li a{
	text-decoration: none;
	color:white;
	font-weight:400;
	display: block;
 
}

.body_content{
	margin-top:100px;

}
.responsive{
	max-width:70%;
	height:auto; 
	border-radius:50%;
	margin-left:5rem; 
	  
}

}
.main_body{
	margin-left:3rem;
	margin-top:5rem; 

}
.main_body h1{
	font-weight:bold;
	font-size:4rem;
	padding-bottom:1.5rem;   
}
.main_body h5{
	font-weight: bold;
	padding-left:8px; 
}
.main_body div{
	line-height:2;
	padding-left:8px;
	max-width: 400px;
  	min-width: 150px;  
}


.resume_btn{
	margin-right:1rem; 
	margin-top:2rem; 
	border:1px solid black;
	width:120px;
	height: 120px;
	border-radius:50%; 
	font-size:1.3rem; 
	font-weight: bold;
	background-color:#eea302;
}

.project_btn{
	margin-right:1rem; 
	margin-top:2rem; 
	border:1px solid black;
	width:120px;
	height: 120px;
	border-radius:50%; 
	font-size:1.3rem; 
	font-weight: bold;
	background-color:#ff3b25;

}
.home_btn{
	margin-right:1rem; 
	margin-top:2rem; 
	border:1px solid black;
	width:120px;
	height: 120px;
	border-radius:50%; 
	font-size:1.3rem; 
	font-weight: bold;
	background-color:#80d8da;
}
.home_btn:hover,.project_btn:hover,.resume_btn:hover{
	transition: background 0.4s ease;
	-webkit-transition: background-color 0.4s ease-out;
  	-moz-transition: background-color 0.4s ease-out;
  	-o-transition: background-color 0.4s ease-out;
  	transition: background-color 0.4s ease-out;
	background-color:#f3f3f3;
}
.resume_button{
	margin-top:2rem;
	text-align: center;
}
.btn {
  background-color:green;
  border: none;
  color: black;
  font-weight:bold; 
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color:red;
  
}


.hr_space{
	margin-top:130px;
}
.footer_section{
	margin-top:2rem; 
	padding-left:none;
	margin-bottom:2rem;   
}
.footer_section a{
	text-decoration:none;
	color:#000;
}
.profile_skills{
	font-weight:bold;
	padding-left:2px;

}

span{
	color:#ff6666;
	font-weight:bold; 
}

/* resume block */
.resume{
	margin-top:4rem;
	margin-left:8rem;  
}
.education{
	margin-left:8rem;
	margin-top:5rem;   
}
.site{
	text-decoration: none;
	color:black;
	font-size:1.2rem;
	padding-left:2rem;   
}

.education_content{

	margin-top:80px;

}

.course{
	padding-left:2rem;

}
.course_detail{
	line-height:1.5;
	padding-left:2rem;
	max-width: 400px;
  	min-width: 150px;

}
.resume_body{
	height:auto; 
}
.project_body{
	height: auto;

}	
.project{
	margin-top:4rem;
	margin-left:8rem;  
}
.project_content h3{
	margin-top:50px; 
	margin-left:120px;   
}
.project_content p{
	margin-left:120px;
	line-height: 1.5;
	padding-top:1rem;  
}
.project_image{
	padding-top:3rem; 
}
@media only screen and (max-width: 650px) {
  ul.right {
    float: left;
    margin-left:5rem; 
  }
}
@media only screen and (max-width: 650px) {
  ul.left {
    float: left;
    margin-left:5rem; 
  }
}
@media only screen and (max-width: 650px) {
   .footer_class{

  text-align: center;
  line-height:1.6; 
}
@media only screen and (max-width: 650px) {
   .main_body{

  text-align: center;
  margin-top:1rem;
  line-height:1.5; 

}
@media only screen and (max-width: 650px) {
   .hr_space{
   	margin-top:50px; 

}

@media only screen and (max-width: 650px) {
   .responsive{
   	text-align: center; 

}
